<p id="notice"><%= notice %></p>

<p>
  <b>Feature name:</b>
  <%= @mobile_web_feature_icon.feature_name %>
</p>

<p>
  <b>Icon size:</b>
  <%= @mobile_web_feature_icon.icon_size %>
</p>

<p>
  <b>User:</b>
  <%= @mobile_web_feature_icon.user_id %>
</p>


<%= link_to 'Edit', edit_mobile_web_feature_icon_path(@mobile_web_feature_icon) %> |
<%= link_to 'Back', mobile_web_feature_icons_path %>
