<%= form_for([@user, @android_background], :remote => true, :html => { :multipart => true, :class => "form-inline" }) do |f| %>
  <% if @android_background.errors.any? %>
    <div class ="alert alert-error">
      <b><%= pluralize(@android_background.errors.count, "error") %> caught: </b>
      <% @android_background.errors.full_messages.each do |msg| %>
        <%= msg %>
      <% end %>
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
  <% end %>

  <div class="row-fluid">
    <div class="field inline-field span5 pad">
      <%= f.select :background_type_size, ANDROID_BACK %>
    </div>
    <div class="field inline-field span4 pad">
      <span class="btn btn-file fileinput-button">
        <i class="icon-file icon-blue"></i>
        <span>Select...</span>
        <%= f.file_field :icon_image, :class => "file-prev" %>
      </span>
      <div class="show-prev"></div>
    </div>
    <% if @android_background.new_record? %>
     <div class="actions inline-field span3">
      <%= button_tag(:type => 'submit', class: "btn btn-primary btn-large pull-right") do %>
       <i class="icon-plus-sign icon-white"></i> Submit
      <% end %>
     </div>
    <% else %>
     <div class="actions inline-field span3">
      <%= button_tag(:type => 'submit', class: "btn btn-success btn-large pull-right") do %>
       <i class="icon-ok-sign icon-white"></i> Save
      <% end %>
     </div>
    <% end %>
  </div>
<% end %>
