<%= form_for([@user, @videosfeed], :remote => true, :html => { :class => "form-inline" }) do |f| %>
  <% if @videosfeed.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@videosfeed.errors.count, "error") %> prohibited this videosfeed from being saved:</h2>

      <ul>
      <% @videosfeed.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row-fluid">
    <div class="field inline-field span4 pad">
      <%= f.text_field :title, :placeholder => "Title", :class => "fullw" %>
    </div>
    <div class="field inline-field span4 pad">
      <%= f.text_field :youtube_username, :placeholder => "YouTube Username", :class => "fullw" %>
    </div>
    <% if @videosfeed.new_record? %>
     <div class="actions inline-field span4">
      <%= button_tag(:type => 'submit', class: "btn btn-primary btn-large pull-right") do %>
       <i class="icon-plus-sign icon-white"></i> Submit
      <% end %>
     </div>
    <% else %>
     <div class="actions inline-field span4 pad">
      <%= button_tag(:type => 'submit', class: "btn btn-success") do %>
       <i class="icon-ok-sign icon-white"></i> Save
      <% end %>
     </div>
    <% end %>
  </div>
<% end %>
