<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>iCampus Live</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "http://maps.googleapis.com/maps/api/js?key=AIzaSyBqn3S_A6VHC-Jzpt_-ER3Yb0QVjz_6SpI&sensor=false" %>
  <%= render 'phonesMapjs' %>
  <%= csrf_meta_tags %>
  <style type="text/css">
      body {
        padding-top: 15px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>
</head>
<body onload="initialize()">
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12">
          <%= link_to raw('<div class="icampuslive-logo">Live</div>'), users_path %>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <%= render 'shared/navbar' %>
    </div>
    <div class="container-fluid">
      <div class="row-fluid laywrap">
        <div class="span3 dashside">
          <div class="well sidebar-nav">
            <%= render 'shared/featuresMenu' %>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9 dashmain">
          <div class="box-model">

              <div class="box-model-header">
                <h1>Emergency</h1>
              </div>           
              <div class="box-model-content">
                <div class="row-fluid">
                  <div class="span12">
                    <ul class="nav nav-tabs">
                      <li>
                        <%= link_to raw('<h4>Emergency Contacts</h4>'), center_emergency_contacts_path %>
                      </li>
                      <li class="active">
                        <%= link_to raw('<h4>Emergency Phones</h4>'), center_emergency_phones_path %>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="row-fluid">
                  <div class="span12 guide">
                    <%= render "shared/mini_guide" %>
                  </div>
                </div>
                <div class="row-fluid">
                  <div class="span8">
                    <div id="map-wrapper">
                      <div id="canvas-wrapper">               
                        <div id="map_canvas"></div>
                      </div>                                      
                    </div>
                  </div>  
                  <div class="span4">
                    <div id="edit-box">
                      <div id="new-emergency_phone-form" style="display:none;">
                          <%= render 'form' %>
                        <div id="killNew" class="kill" onclick="clearForm();">x</div>
                      </div>
                      <%= render :partial => @emergency_phones %>
                    </div>
                  </div>
                </div>
                <div class="row-fluid">
                    <div class="span12">
                    </div>
                </div>
              </div>

          </div>       
        </div><!--/span-->
      </div><!--/row-->
      <hr>

      <footer>
        <p>&copy; iCampus 2012</p>
      </footer>

    </div><!--/.fluid-container-->
</body>
