<p id="notice"><%= notice %></p>

<p>
  <b>Location name:</b>
  <%= @emergency_phone.location_name %>
</p>

<p>
  <b>Latitude:</b>
  <%= @emergency_phone.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @emergency_phone.longitude %>
</p>


<%= link_to 'Edit', edit_emergency_phone_path(@emergency_phone) %> |
<%= link_to 'Back', emergency_phones_path %>
