<div class="box-model-header"><h1>Change Password</h1></div>		
<div class="box-model-content">
	<br/>
	<div class="row-fluid">
		<div class="span12">
			<%= form_tag change_password_update_user_path(current_user), :method => :put do %>
				<div class="row-fluid">
				   <div class="field pagination-centered">
				   	  <%= label_tag :password, "Current Password", :class => 'bold-label' %>
				      <%= password_field_tag :password, params[:password] %>
				   </div>
			  	</div>
			  	<br />
			  	<div class="row-fluid">
				   <div class="field pagination-centered">
				   	  <%= label_tag :new_password, "New Password", :class => 'bold-label' %>
					  <%= password_field_tag :new_password %>
				   </div>
				</div>
			  	<br />
			  	<div class="row-fluid">
				   <div class="field pagination-centered">
				   	  <%= label_tag :new_password_confirmation, "New Password Confirm", :class => 'bold-label' %>
					  <%= password_field_tag :new_password_confirmation %>
				   </div>
				</div>
			  	<br />
			  	<div class="row-fluid">
				   <div class="actions pagination-centered">
					  <%= submit_tag "Change Password", :class => 'btn btn-primary' %>
				   </div>
			  	</div>
			<% end %>
		</div>
	</div>
</div>