<%= form_for(@project_info_page, :url => user_project_info_page_path(@user), :html => { :class => "form-inline" }) do |f| %>
  <% if @project_info_page.errors.any? %>
    <div class ="alert alert-error">
      <b><%= pluralize(@project_info_page.errors.count, "error") %> caught: </b>
      <% @project_info_page.errors.full_messages.each do |msg| %>
        <%= msg %>
      <% end %>
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
  <% end %>

  <div class="row-fluid">
    <div class="field inline-field span6 pad">
      <div class="input-prepend">
        <span class="add-on">http://</span>
        <%= f.text_field :page_url, :placeholder => "Page URL", :class => "input-xlarge" %>
      </div>
    </div>
    <% if @project_info_page.new_record? %>
     <div class="actions inline-field span6">
      <%= button_tag(:type => 'submit', class: "btn btn-primary btn-large pull-right") do %>
       <i class="icon-plus-sign icon-white"></i> Submit
      <% end %>
     </div>
    <% else %>
     <div class="actions inline-field span6">
      <%= button_tag(:type => 'submit', class: "btn btn-success btn-large pull-right") do %>
       <i class="icon-ok-sign icon-white"></i> Save
      <% end %>
     </div>
    <% end %>
  </div>
<% end %>