<p id="notice"><%= notice %></p>

<p>
  <b>Background type size:</b>
  <%= @ios_background.background_type_size %>
</p>

<p>
  <b>User:</b>
  <%= @ios_background.user_id %>
</p>


<%= link_to 'Edit', edit_ios_background_path(@ios_background) %> |
<%= link_to 'Back', ios_backgrounds_path %>
