<%= form_for([@center, @place], :remote => true) do |f| %>
  <% if @place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@place.errors.count, "error") %> prohibited this place from being saved:</h2>

      <ul>
      <% @place.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :name, :placeholder => "Name", :class => 'span12' %>
  </div>
  <div class="field">
      <%= f.select(:marktype, [['Building', 'building'], ['Parking', 'parking'], ['Bus Stop', 'bus']], {}, { :class => 'span12' }) %>
  </div>
  <div class="field">
    <%= f.text_field :latitude, :placeholder => "Lat", :class => 'span12' %>
  </div>
  <div class="field">
    <%= f.text_field :longitude, :placeholder => "Long", :class => 'span12' %>
  </div>
  <div class="actions">
    <%= f.submit @place.new_record? ? "Add" : "Save", @place.new_record? ? { :class => 'btn btn-primary' } : { :class => 'btn btn-success' }  %>
  </div>
<% end %>
