<%= content_tag_for(:div, place, :style => 'display:none;') do %>
	<div class="pIcon">
		<img src="/img/<%= place.marktype %>-marker.png" alt="icon" />
	</div>
	<div class="row-fluid">
		<div class="span12">
	  		<h4><%= place.name %></h4>
	  	</div>
	</div>
	<div class="row-fluid">
		<div class="span12">
			<div class="coords"><%= place.latitude %>, <%= place.longitude %></div>
		</div>
	</div>
	<div class="row-fluid">
	  	<div class="span12">
	  		<div class="btn-group">
	  		<%= link_to raw('<i class="icon-edit"></i> Edit'), edit_center_place_path(@center, place), :remote => true, :class => 'btn btn-small', :id => "ed_#{place.id}", :onclick => "setTrue();" %>
	  		<%= link_to raw('<i class="icon-trash"></i> Delete'), [@center, place], :confirm => 'Are you sure?', :method => :delete, :remote => true, :class => 'btn btn-small' %>
	  		</div>
		</div>
	</div>
	<div id="inner_<%= dom_id(place) %>" class="row-fluid listItemInner"></div>
<% end %>