<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>iCampus Live</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <style type="text/css">
      body {
        padding: 15px 10px 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
  </style>
</head>
<body>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12">
          <%= link_to raw('<div class="icampuslive-logo">Live</div>'), users_path %>
          <div class="flash-top">
            <% flash.each do |name, msg| %>
              <div class ="alert alert-<%= name %>">
                <%= msg %>
                <button type="button" class="close" data-dismiss="alert">&times;</button>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
  	  <%= render 'shared/navbar' %>
    </div>
    <div class="container-fluid"> 
      <div class="row-fluid laywrap">
        <div class="span6">
          <div class="box-model dashmain">
            <%= render 'welcome' %>
          </div>
        </div>
        <div class="span6">
          <div class="box-model dashmain">
            <%= yield %> 
          </div>
        </div>
      </div>  
    </div><!--/.fluid-container-->
</body>
</html>